.hero_wrapper {
    padding: 0px 0px 70px 0px;
}

.hero_wrapper>.container {
    position: relative !important;
}

.hero_text {
    padding-top: 80px;
}

.hero_text h1 {
    font-size: 86px;
    letter-spacing: 5px;
    line-height: 91%;
    color: #2a2a2a;
    text-transform: uppercase;
}

.hero_text h1 span {
    color: #d31217;
}

.hero_text p {
    color: #5c6b73;
    line-height: 150%;
    margin-top: 40px;
    margin-bottom: 0;
}

.hero_image_box {
    position: absolute;
    top: 0;
    right: -160px;
}

.hero_image_box div {
    position: relative;
}

.hero_image_box .note {
    position: absolute;
    left: -40px;
    top: 30%;
}

.hero_image_box img {
    max-width: 800px;
    height: auto;
}